@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #00ADB5;
    --cor-de-texto: #EEEEEE;
    --cor-de-fundo: #303841;
    --cor-hover: #3A4750;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    box-sizing: border-box;
}

.imagem{
    width: clamp(150px, 35vw, 390px); 
    height: auto;
    /* max-width: 390px; */
    border: 10px solid var(--cor-primaria);
    margin-left: 2rem;
    margin-right: 2rem;
}

.atividade__conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 615px;
    margin-left: 10px;
}

.atividade__conteudo__titulo strong {
    color: var(--cor-primaria);
}

.atividade__conteudo__titulo {
    font-size: clamp(1rem, 2.5vw, 3rem);
    /* font-size: 36px; */
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-style: normal;

}

.atividade__conteudo__texto {
    font-size: clamp(0.5rem, 1.7vw, 2rem);
    /* font-size: 20px; */
    text-align: justify;
    font-family: var(--fonte-texto);
    font-optical-sizing: auto;
    font-style: normal;
}

main.atividade {
    display: flex;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center; /* Centraliza verticalmente */
      height: 100%;
}

.botoes{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

a.atividade__conteudo__links {
    display: inline-block;
    padding: 10px 20px;
    font-family: var(--fonte-texto);
    background-color: var(--cor-de-fundo);
    border-color: #22d4fd;
    border-width: 2px;
    border-style: solid;

    /* Cor de fundo */
    color: var(--cor-de-texto);
    /* Cor do texto */
    text-align: center;
    /* Alinhar o texto */
    text-decoration: none;
    /* Remover sublinhado */
    border-radius: 5px;
    /* Bordas arredondadas */
    font-size: 16px;
    /* Tamanho da fonte */
    transition: background-color 0.3s ease;
    /* Efeito de transição ao passar o mouse */
}

.atividade__conteudo__links .fa{
    color:var(--cor-primaria);
}

a.atividade__conteudo__links:hover {
    background-color: var(--cor-hover);
    /* Cor de fundo ao passar o mouse */
}

.cabecalho{
    margin-bottom: 30px;
    display: flex;
}

.rodape{
    background-color: var(--cor-primaria);
    color:var(--cor-de-texto);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: var(--fonte-texto);
    margin-top: 20px;
}

.nav__inicio{
    min-height: 50px;
    display: flex;
    gap: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav__inicio a.nav__inicio__item{
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-texto);
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(1rem, 1.8vw, 2rem);
}